<!DOCTYPE html>
<html>
    <head>
<title>
    Page Title
</title>
    </head>
<body>
     
  <h1>about </h1>
  <h1>the about page </h1> 
    <p>The bottom line: The more you give to people, the more you can realistically expect back in return, but don't expect it. Just help people and do favors on a day to day basis.
    
    </p>
    <p>
     Over time, this will from into a vast network of people, an army of people, who actively look for ways that they can help you out just like you helped them. Now that's something you can leverage.'
     </p>
     <title> Page Title</title>
  <h1>This is a footer</h1>   
</body>   
</html>

<%= link_to 'home', root_path %>